{{> head }}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>
            Analista Programador
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus suscipit consequatur reprehenderit
            perspiciatis fuga, eveniet commodi et ut aspernatur sunt sed animi exercitationem voluptate! Sed atque
            commodi cum similique possimus.
        </p>
    </div>
    <div class="col-4">
        <img src="../public/assets/img/user-male.png" class="img-thumbnail">
    </div>
</div>


{{> footer}}